@tailwind base;
@tailwind components;
@tailwind utilities;


html  {
  /* commenting out smooth scroll until next/link anchor scroll is fixed */
  /* scroll-behavior: smooth!important;
  --scroll-behavior: smooth!important; */
  font-family: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
  'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
  'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
}

:root {
/*
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
*/
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 162, 132, 251, 0.175;
  --background-end-rgb: 194, 175, 253, 0.175;

  /*--primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );*/

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    transparent,
    #a284fb25,
    #d3283b33,
    #d3283b33,
    #a284fb25,
    transparent 
  );
  
  --glow-left: radial-gradient(
    circle farthest-corner at 0% 50%,
    #d3283b20,
    #d3283b00 
  );

    --glow-right: radial-gradient(
    circle farthest-corner at 100% 50%,
    #d3283b20,
    #d3283b00 
  );

  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0.3)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
 /* --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );*/

  --tile-border: conic-gradient(
    #d3283b90,
    #d3283b40,
    #d3283b30,
    #d3283b20,
    #d3283b10,
    #d3283b10,
    #d3283b90
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgba: 0, 0, 0, 0;
    --background-end-rgba: 0, 0, 0, 0;

    --primary-glow: radial-gradient(#d3283b30, #d3283b00);
    --secondary-glow: radial-gradient(
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0),
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

.center {
  overflow: hidden;
  background-clip: content-box;
}

.center::before {
  background: var(--secondary-glow);
  border-radius: 50%;
  width: 100%;
  height: 400px;
  margin-left: -50%;
  margin-top: 0px;
  z-index: -2;
}

.center::after {
  background: var(--primary-glow);
  border-radius: 50%;
  margin-top: -200px;
  margin-left: -150px;
  width: 300px;
  height: 300px;
  z-index: -1;
  opacity: 0;
  transition: 800ms;
}

.center:hover::after {
  background: var(--primary-glow);
  margin-top: -200px;
  margin-left: -150px;
  width: 300px;
  height: 300px;
  z-index: -1;
  opacity: 1;
  transition: 800ms;
}

.center::before,
.center::after {
  content: '';
  left: 50%;
  position: absolute;
  filter: blur(42px);
  transform: translateZ(0);
}

#work::before {
  content: '';
  max-width: 90%;
  border-radius: 50%;
  background: var(--glow-left);
  left: 0%;
  margin-top: -400px;
  margin-left: -33%;
  width: 66%;
  height: 600px;
  z-index: -1;
  position: absolute;
  filter: blur(50px);
  transform: translateZ(0);
}

#about::before {
  content: '';
  max-width: 90%;
  right: 0;
  margin-top: -4.5rem;
  border-radius: 50% 0 0 50%;
  background: var(--glow-right);
  width: 33%;
  height: 560px;
  z-index: -1;
  position: absolute;
  filter: blur(50px);
}

#skills::before {
  content: '';
  max-width: 90%;
  border-radius: 50%;
  background: var(--glow-left);
  left: 0;
  margin-top: -150px;
  margin-left: -33%;
  width: 66%;
  height: 600px;
  z-index: -1;
  position: absolute;
  filter: blur(50px);
  transform: translateZ(0);
}

.projectitem {
  transform: translateZ(0);
  border-radius: 8px;
  overflow: hidden;
  padding: 3px;
}

.projectitem::before,
.projectitem::after {
  content: '';
  position: absolute;
  z-index: -1;
}

.projectitem:hover::before {
  animation: 4s rotate linear infinite;
  width: 150%;
  height: 200%;
  background: var(--tile-border);
  top: -40%;
}

/* .projectitem::after {
  inset: 100%;
  padding: 10px;
  border-radius: 6px;
  background: linear-gradient(
    to bottom right,
    rgba(var(--tile-start-rgb), 1),
    rgba(var(--tile-end-rgb), 1)
  );
  background-clip: content-box;
} */

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    to bottom,
    rgba(var(--background-start-rgb)),
    rgba(var(--background-end-rgb)));
}

ol {
  list-style-type:decimal;
  padding-left: 40px;
}

@layer base{

  body {
    @apply tracking-wide
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-bold
  }

  h1 {
    @apply text-4xl sm:text-5xl md:text-6xl
  }

  h2 {
    @apply text-3xl sm:text-4xl
  }
  
  li {
    @apply cursor-pointer
  }

  button {
    @apply shadow-xl rounded-md uppercase bg-gradient-to-b from-[#a284fb] to-[#d3283b] text-white
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
