@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  /* commenting out smooth scroll until next/link anchor scroll is fixed */
  /* scroll-behavior: smooth!important;
  --scroll-behavior: smooth!important; */
  font-family: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
}

@layer base {
  :root {
    --foreground-rgb: 23, 23, 23;
    --background-start-rgba: 162, 132, 251, 0.04;
    --background-end-rgba: 194, 175, 253, 0.1;

    --base: 255, 255, 255;

    --accent: 163, 132, 250;

    --inactive: rgb(102, 102, 102);

    --border-color: #cecece;

    --backgroundHover: rgb(247, 247, 247);

    --primary-glow: radial-gradient(
      circle at 50%,
      color(display-p3 0.827451 0.156863 0.231373 / 0.1) 0%,
      transparent 70%
    );

    --glow-left: radial-gradient(
      farthest-corner at 0% 50%,
      color(display-p3 0.827451 0.156863 0.231373 / 0.1) 0%,
      transparent 70%
    );

    --glow-right: radial-gradient(
      circle farthest-corner at 100% 50%,
      color(display-p3 0.827451 0.156863 0.231373 / 0.1) 0%,
      transparent 70%
    );

    --secondary-glow: radial-gradient(
      ellipse at 50%,
      rgba(255, 255, 255, 0.9) 0%,
      rgba(255, 255, 255, 0.5) 50%,
      rgba(255, 255, 255, 0) 70%
    );

    --callout-rgb: 238, 240, 241;
    --callout-border-rgb: 172, 175, 176;
    --card-rgb: 180, 185, 188;
    --card-border-rgb: 131, 134, 135;

    --table-box-shadow: 0 14px 66px rgba(0, 0, 0, 0.07),
      0 10px 17px rgba(0, 0, 0, 0.03), 0 4px 7px rgba(0, 0, 0, 0.05);

    --card-box-shadow: 4px 4px 0px 0px #d2d2f9;
  }

  [data-theme="dark"] {
    --foreground-rgb: 226, 232, 240;
    --background-start-rgba: 0, 0, 0, 1;
    --background-end-rgba: 0, 0, 0, 0;

    --base: 0, 0, 0;

    --accent: 163, 132, 250;

    --inactive: rgb(136, 136, 136);

    --border-color: #ffffff20;

    --backgroundHover: rgba(10, 10, 10, 1);

    --primary-glow: radial-gradient(
      circle at 50%,
      color(display-p3 0.827451 0.156863 0.231373 / 0.188235) 0%,
      transparent 70%
    );
    --secondary-glow: radial-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;

    --glow-left: none;
    --glow-right: none;

    --table-box-shadow: 0 14px 66px hsla(0, 0%, 96%, 0.07),
      0 10px 17px hsla(0, 0%, 96%, 0.03), 0 4px 7px hsla(0, 0%, 96%, 0.05);

    --card-box-shadow: 4px 4px 0px 0px #d2d2f9;
  }

  body {
    /*@apply tracking-wide;*/
    color: rgb(var(--foreground-rgb));
    background-color: rgba(var(--background-start-rgba));
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }

  h1 {
    @apply text-4xl sm:text-5xl md:text-6xl;
  }

  h2 {
    @apply text-3xl sm:text-4xl;
  }

  li {
    @apply cursor-pointer;
  }

  button {
    @apply rounded-md bg-[rgb(var(--accent))] uppercase text-white;
  }

  button:hover {
    @apply shadow-xl transition duration-300 ease-in-out;
  }
}

#main svg:hover {
  color: rgb(var(--accent));
}

.active {
  color: rgb(var(--accent));
}

.inactive {
  color: var(--inactive);
}

.theme-controls {
  border-color: var(--border-color);
}

.inactive:hover {
  color: rgb(var(--foreground-rgb));
}

/* individual class styles */
.nav_activeBar {
  position: absolute;
  width: 100px;
  height: 2px;
  bottom: 0;
  background-color: rgb(var(--accent));
  transform-origin: 0 0 0;
  transition: transform 0.15s;
}

.projectheader {
  background-color: rgba(var(--base), 0.5);
}

.projectitem {
  display: block;
  transform: translateZ(0);
  border: 1px solid;
  border-color: var(--border-color);
  border-radius: 0.25rem;
  overflow: hidden;
  background-color: rgb(var(--base));
  box-shadow: var(--table-box-shadow);
}

.projectitem:hover {
  transform: scale(1.02);
  transition: transform 0.1s;
  background-color: var(--backgroundHover);
  box-shadow: var(--table-box-shadow);
}

.projectitem::before,
.projectitem::after {
  content: "";
  position: absolute;
  z-index: -1;
}

.bands .project-image-wrapper {
  height: 76%;
}

.bands img {
  object-fit: cover !important;
  min-height: 240px !important;
}

.avinew img {
  max-height: 466px !important;
}

.projectdetail-shadow {
  box-shadow: var(--card-box-shadow);
}

/* formatting on project detail page lists */
ol {
  list-style-type: decimal;
  padding-left: 40px;
}

/* glowing background pseudo-code */
.center {
  overflow: hidden;
  background-clip: content-box;
}

.center::before {
  background: var(--secondary-glow);
  width: 100%;
  height: 400px;
  margin-left: -50%;
  margin-top: 0px;
  z-index: -2;
}

.center::after {
  background: var(--primary-glow);
  margin-top: -200px;
  margin-left: -150px;
  width: 300px;
  height: 300px;
  z-index: -1;
  opacity: 0;
  transition: 800ms;
}

.center:hover::after {
  opacity: 1;
  transition: 800ms;
}

.center::before,
.center::after {
  content: "";
  left: 50%;
  position: absolute;
  filter: blur(24px);
  border-radius: 50%;
}

/*#work::before,
#skills::before {
  content: "";
  max-width: 60%;
  background: var(--glow-left);
  left: 0;
  width: 100%;
  height: 160%;
  z-index: -1;
  position: absolute;
  filter: blur(24px);
  margin-top: 70px;
}

/*#work::before {
  margin-top: -400px;
}

#about::before {
  content: "";
  max-width: 50%;
  right: 0;
  margin-top: -4.5rem;
  border-radius: 50% 0 0 50%;
  background: var(--glow-right);
  width: 100%;
  height: 160%;
  z-index: -1;
  position: absolute;
  filter: blur(24px);
}*/
